<!-- store detail -->

<h3><%= @stores.name %></h3>

<br>
<h5>Address: <span class="med teal-text"><%= @stores.address %></span></h5>
<h5>Store Rating: <span class="med teal-text"><%= @stores.ratings %></span></h5>

<h5>Brands: <span class="med teal-text">
<% if @brands.any? %>
<% @brands.each do |brand| %>
  <%= brand.name %>
  <% end %>
<% end %>
</span></h5>


<!-- Delete Store -->
<form action="/store/<%= @stores.id %>" method="post" class="right delete-form">
 <input name="_method" type="hidden" value="delete">
 <button type="submit" class="btn red right">Delete Store</button>
</form>
<br>

<!-- update Store name -->
<h5>Update Store</h5>
    <form action="/store/<%= @stores.id() %>" method="post">
      <input name="_method" type="hidden" value="patch">

      <label for="new-name">Update Store Name</label>
      <input id="new-name" name="new-name" type="text" placeholder="Crocs Store" required><br>

      <label for="new-address">Address</label>
      <input id="new-address"  name="new-address"type="text" class="validate" placeholder="1 Infinite Loop, Portland OR" required><br>

      <label for="new-rating">Update Rating</label>
      <input id="new-rating" name="new-rating" type="text" placeholder="On a scale from 1-10" required><br>

      <label>Select a Brand</label><br>

      <% if @allbrands.any?() %>
        <select name="brand_id" class="browser-default" required>
          <!-- <option value=""></option> -->
          <% @allbrands.each() do |brand| %>
            <option value="<%= brand.id()%>"><%= brand.name() %></option>
          <% end %>
        </select><br><br>
      <% end %>

      <button type="submit" class="btn">Update</button>
    </form>
