<!-- store detail -->

<h3><%= @stores.name %></h3>

<br>
<h5>Address: <span class="med teal-text"><%= @stores.address %></span></h5>
<h5>Cost: <span class="med teal-text"><%= @stores.cost %></span></h5>
<h5>Rating: <span class="med teal-text"><%= @stores.ratings %></span></h5>

<h5>Brands: <span class="med teal-text">
<% if @brands.any? %>
<% @brands.each do |brand| %>
  <%= brand.name %>
  <% end %>
<% end %>
</span></h5>
